<table border="0" cellspacing="10" cellpadding="10">
	<tr>
		<td width="50%" valign="top" align="center">
			<div class="nflqb-form">
				<% if !@errors.nil? && @errors != false && @errors.count > 0 %>
					<div id="notice">
						<div style="font-weight:bold;color:#B30000;text-align:left;padding-top:0px;margin-top:-5px;">Please Correct the Following Errors:</div>
						<ul>
							<% @errors.each do |error| %>
								<li><%= error %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<% form_remote_for 'rating', :url => {:controller => "rating", :action => "index"}, 
					:loading => "$('#calculating').show();", :complete => "$('#calculating').hide();", 
					:html => {:name => "rating_form"}, 
					:update => {:success => "ajax_results", :failure => "notice"} do |form| %>
					<div id="calculating" align="center" style="font-family:verdana;display:none;font-weight:bold;color:#003972;">
						<%= image_tag "spinner.gif", :border => 0 %>&nbsp;Calculating...
					</div>
					<div align="center">
						<fieldset>
							<legend>Please Enter the Quarterback&#39;s Statistics</legend>
							<div>
								<%= form.label :attempts, "Passing Attempts:" %>
								<%= form.text_field :attempts %>
							</div>
							<div>
								<%= form.label :completions, "Passing Completions:" %>
								<%= form.text_field :completions %>
							</div>
							<div>
								<%= form.label :yards, "Passing Yards:" %>
								<%= form.text_field :yards %>
							</div>
							<div>
								<%= form.label :touchdowns, "Passing Touchdowns:" %>
								<%= form.text_field :touchdowns %>
							</div>
							<div>
								<%= form.label :interceptions, "Interceptions:" %>
								<%= form.text_field :interceptions %>
							</div>
							<%= submit_tag "Calculate!", :class => "submit" %>
							<%= submit_tag "Reset", { :name => "reset", :class => "reset", :type => "reset" } %>
							<br /><br />
						</fieldset>
					</div>
				<% end %>
			</div>
		</td>
		<td width="50%" valign="top" align="center">
			<div id="ajax_facts">
				<%= render :partial => "facts" %>
			</div>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td colspan="2">
			<div align="center">
				<div id="ajax_results" class="results" align="left">
					<%= render :partial => "results_explain" %>
				</div>				
			</div>
		</td>
</table>