<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>NFL Quarterback Rating Calculator</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<%= stylesheet_link_tag "master", :media => "all" %>
		<%= javascript_include_tag "jquery" %>
		<%= javascript_include_tag "jquery-ui" %>
		<%= javascript_include_tag "jrails" %>
	</head>
	<body>
		<div align="center">
			<div class="logo" align="center">QUARTERBACK<br />RATING<br />CALCULATOR</div>
			<div align="center" style="width:60%;display:block;">
				<%= yield %>
			</div>
		</div>
		<div class="footer">
			<p>
				&copy; 2011 <%= link_to "Adam Koch", "http://crackpot.ws" %>.  Not associated with the NFL or any of its properties.<br />
				Powered by <%= link_to 'Ruby on Rails', 'http://rubyonrails.org' %><br />
				<a href="http://validator.w3.org/check/referer" title="valid XHTML">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="valid CSS">CSS</a><br />
				<strong>Server Uptime:</strong>&nbsp;&nbsp;<%= server_uptime %>
			</p>
		</div>
	</body>
</html>